h1{
  font-family: "Shrikhand", cursive;
  color: #eed5b7;
  text-align: center;
  font-size: 80px;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    padding-bottom: 90px;
    padding-top: 20px;
}

h2{
  font-size: 50px;
  margin-left: 30px;

}

body{
  background: url("coffeebeans.jpg");
  background-color: #ccd9ff;
  background-size: cover;
  background-repeat: no-repeat;
}

ul{
text-align: center;
background: #eed5b7;
  font-family: "Amatic SC", "arial";
  font-size: 40px;
  font-color: #663300;
}

.topspace{
  padding-top: 70px;
}

a{
  color:  #663300;
  text-decoration: none;
}

li{
  display: inline;
  padding: 50px 50px 50px 50px;
}

p{
  text-align: left;
  color: #663300;
  font-family: caveat;
  font-size: 20px;
  font-weight: bold;
  background: #eed5b7; opacity: 0.8;
  width: 800px;
  height:50px;
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
}
