h1{
  font-family: "Shrikhand", cursive;
  color: #eed5b7;
  text-align: center;
  font-size: 80px;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    padding-bottom: 90px;
    padding-top: 20px;
}

h2{
  font-family: "Kreon", serif;
  color: #493017;
  font-size: 50px;
  margin-left: 30px;
  text-decoration: underline #493017;

}

body{
  background: url("coffeebeans.jpg");
  background-color: #eed5b7;
  background-size: cover;
  background-repeat: no-repeat;
}

ul{
text-align: center;
background: #eed5b7;
  font-family: "Kreon", serif;
  font-size: 40px;
  color: #493017;
}

.topspace{
  padding-top: 70px;
}

a{
  color:  #493017;
  text-decoration: none;
}

li{
  display: inline;
  padding: 30px;
}

p{
  font-family: "Kreon", serif;
  text-align: left;
  color: #493017;
  font-family: caveat;
  font-size: 20px;
  background: rgba(238, 213, 183, 0.8);
  width: 800px;
  height:230px;
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
}
