h1{
  font-family: "Shrikhand", cursive;
  color: #eed5b7;
  text-align: center;
  font-size: 80px;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    padding-bottom: 150px;
    padding-top: 20px;
}

h2{
  font-family: "Kreon", serif;
  text-align: center;
  color: #493017;
  font-size: 50px;
  text-decoration: underline #493017;
}

body{
  background: url("coffeesbeanshead.jpg");
  background-color: #eed5b7;
  background-size: contain;
  background-repeat: no-repeat;
}


ul{
text-align: center;
background: #eed5b7;
  font-family: "Kreon", serif;
  font-size: 40px;
  color: #493017;
}

.topspace{
  padding-top: 70px;
}

a{
  color:  #493017;
  text-decoration: none;
}

li{
  display: inline;
  padding: 30px;
}

p{
  font-family: "Kreon", serif;
  text-align: center;
  color: #f9e7d2;
  font-size: 20px;
  background: #493017;
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.circle{
  border-radius: 50%;
}

a:hover {
  color: white;
}
