h1{
  font-family: "Shrikhand", cursive;
  color: #eed5b7;
  text-align: center;
  font-size: 80px;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    padding-bottom: 150px;
    padding-top: 70px;
}

body{
  background: url("coffeebeans.jpg");
  background-color: #eed5b7;
  background-size: cover;
  background-repeat: no-repeat;

}

ul{
text-align: center;
background: #eed5b7;
  font-family: "Kreon", serif;
  font-size: 40px;
  font-color: #663300;
}

.topspace{
  padding-top: 70px;
}

a{
  color:  #663300;
  text-decoration: none;
}

li{
  display: inline;
  padding: 30px;
}

.Contact{
  font-family: "Kreon", serif;
  text-align: center;
  font-size: 25px;
  background-color: #663300;
  margin: 0 40%;
  color: #eed5b7;
  border-radius: 10px;
}

.container{
  font-family: "Kreon", serif;
  text-align: center;
  font-size: 20px;
  width: 300px;
  height: 350px;
  padding: 20px 0px 180px 0px;
  border-radius: 10px;
  margin: auto;
  border: #663300;
  background-color: rgba(238,	213,183, 0.8);
  color: #663300;
  text-align: center;
}
