h1{
  font-family: "Shrikhand", cursive;
  color: #eed5b7;
  text-align: center;
  font-size: 80px;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    padding-bottom: 150px;
    padding-top: 70px;
}

body{
  background: url("coffeebeans.jpg");
  background-color: #eed5b7;
  background-size: cover;
  background-repeat: no-repeat;
}

ul{
text-align: center;
background: #eed5b7;
  font-family: "Kreon", serif;
  font-size: 40px;
  font-color: #663300;
}

.topspace{
  padding-top: 70px;
}

a{
  color:  #663300;
  text-decoration: none;
}

a:hover {
  color: white;
}

li{
  display: inline;
  padding: 30px;
}
