h1{
  font-family: "Shrikhand", cursive;
  color: #eed5b7;
  text-align: center;
  font-size: 80px;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}

body{
  background: url("coffeebeans.jpg");
  background-color: #ccd9ff;
  background-size: cover;
  background-repeat: no-repeat;

}

ul{
text-align: center;
  background: black;
  color: #eed5b7;
  font-family: "Amatic SC", "arial";
  font-size: 20px;
}

.topspace{
  padding-top: 30px;
}

a{
  color: white;
  text-decoration: none;
}

li{
  display: inline;
  padding: 50px 50px 50px 50px;
}

img{
  border-radius: 50%;
}
