h1 {
  font-family: Shrikhand, cursive;
  color: black;
  text-align: center;
  font-size: 80px;

}

body {
  background: url("BackgroundImage.jpg");
  background-color: #ccd9ff;
  background-size: cover;
  background-repeat: no-repeat;

}
